body {
  font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 0;
  background-color: #14213D;
  color: #E5E5E5;
}

/* Main */
canvas {
  top: 0;
  position: fixed;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100%;
  transition: margin-right .5s;
}

.content {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.description {
  display: flex;
  margin-bottom: 16px;
}

.desc-text {
  font-size: 1em;
  text-align: center;
}

.desc-portrait {
  margin-right: 16px;
  
  align-self: start;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 0px 40%;
  
  border-style: dashed;
  border-width: 1px;
  border-color: #fca311;
}

.project-container {
  display: flex;
}

.project-container > img {
  align-self: start;
  width: 60%;
  margin-right: 16px;
}
.links {
  display: flex;
}

.link {
  flex: 1;
  /* margin-right: 0.8rem; */
  height: 2.5rem;
  min-width: 8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fca311;
  font-family: Merriweather, Georgia, serif;
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 0.8rem;
}

/* Detail */
.detail {
  background-color: #14213D;
  transition: 0.5s;
  position: fixed;

  color:  #fca311;
  top: 0;
  right: -50%;
  height: 100%;
  width: 50%;
}


.detail.show-detail {
  right: 0;
}

.detail-content {
  overflow-y: scroll;
  height: 100vh;
  transition: visibility 0s, opacity 0.5s linear;
}

.detail-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.images {
  text-align: center;
}

.images > a > img {
  padding: 8px;
  width: 40%;
}

.detail .closebtn {
  float: right;
  font-size: 36px;  
  border: none;
}

/* Global */
a {
  color: #fca311;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  padding-bottom: 3px;
}

a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 3px;
}

.indent {
  margin-left: 20px;
}

h1 {
  font-family: Merriweather, Georgia, serif;
  font-weight: 700;
  font-size: 2rem;
  min-height: 3rem;
  margin-block-end: 8px;
}

h2 {
  font-family: Merriweather, Georgia, serif;
  font-weight: 700;
  font-size: 2rem;
  min-height: 3rem;
  margin-block-start: 32px;
  margin-block-end: 16px;
}

.highlight {
  color:  #fca311;
}

.padding {
  padding-left: 24px;
  padding-right: 24px;
}

.white {
  color: #fff;
}

.arrow {
  margin-right: 0.8rem;
  color: #9A9A9A;
  opacity: 0.5;
}

.content.show-detail {
  left: 0%;
  -ms-transform: translate(0%, 0%);
  transform: translate(0, 0%);
  margin-left: 30px;
}


.code {
  font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fca311;
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 500px) {

  .link {
    margin-bottom: 0.8rem;
    width: 75%;
    flex: none;
  }

  .links {
    align-items: center;
    flex-direction: column;
  }

  .link:not(:last-child) {
    margin-right: 0
  }

  .content {
    width: auto;
    min-width: 75%;

    top: 0%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }


  .description {
    flex-direction: column;
  }

  .desc-portrait {
    margin-right: 0px;
    margin-bottom: 20px;
    align-self: center;
    width: 100%;

  }

  .detail {
    width: 100%;
    right: -100%;
  }
  
  .detail.show-detail {
    width: 100%;
  }

  a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding-bottom: 2px;
  }

}