body {
  font-family: Merriweather, Georgia, serif;
  margin: 0;
  background-color: #14213D;
  color: #E5E5E5;
}

.container {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  min-height: 3rem;
}

.arrow {
  margin-right: 0.8rem;
  color: #9A9A9A;
  opacity: 0.5;
}

.code {
  font-family: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fca311;
}

.links {
  display: flex;
}

.link {
  margin-right: 0.8rem;
  height: 2.5rem;
  min-width: 8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fca311;
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-decoration: none;

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  .link {
    margin-bottom: 0.8rem;
  }

.links {
  flex-direction: column;
}
  
}